<!DOCTYPE html>
<html>
{{> include/head}}
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
    {{> include/main_header}}
    {{> include/left_column}}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                게시판 예제
                <small>입력페이지</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 게시판</a></li>
                <li class="active">입력</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-lg-12">
                <form onsubmit="return false;">
                    <input type="hidden" value="{{groupNo}}" name="groupNo" id="groupNo" />
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">게시글 입력</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>제목</label>
                                <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해주세요" value="">
                            </div>

                            <div class="form-group">
                                <label>내용</label>
                                <textarea class="form-control" id="content" name="content" rows="10" placeholder="내용을 입력해주세요" style="resize: none;" value=""></textarea>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="reset" class="btn btn-primary">초기화</button>
                            <button type="submit" class="btn btn-primary" id="btn_write">저장</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    {{> include/main_footer}}
</div>
{{> include/plugin_js}}
<script src="/js/board_script.js"></script>
</body>
</html>