<!DOCTYPE html>
<html>
{{> include/head}}
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
    {{> include/main_header}}
    {{> include/left_column}}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                ERROR PAGE
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> error</a></li>
                <li class="active">exception</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <ul>
                <li>error Code : {{code}}</li>
                <li>error Msg : {{msg}}</li>
                <li>error timestamp : {{timestamp}}</li>
            </ul>

        </section>
    </div>
    {{> include/main_footer}}
</div>
{{> include/plugin_js}}
</body>
</html>