<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DoubleS | SpringMVC Examples</title>
    <!--Tell the browser to be responsive to screen width-->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/paging.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!--Ionicons-->
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <!--Theme style-->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!--AdminLTE Skins. We have chosen the skin-blue for this starter page. However, you can choose any other skin.
    Make sure you apply the skin class to the body tag so the changes take effect.-->
    <link rel="stylesheet" href="/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--[if lt IE 9]-->
    <script src="/plugins/html5shiv/html5shiv.min.js"></script>
    <script src="/plugins/respond/respond.min.js"></script>
    <!--[endif]-->
    <!--Google Font-->
</head>